.header {
  display: flex;
  height: 4rem;
  padding: 0.8em 1em;
  background-color: black;
  color: white;
}

.img {
  transform: scale(1.6);
  margin-left: 1em;
}

.input {
  margin-left: 1.2em;
  flex-basis: 100%;
  font-size: 1.2rem;
  outline: none;
  
}

.button {
  background-color: darkgray;
  width: 3rem;
  border:0.5px solid black;
  box-shadow:none;
  border-radius:0;
  padding:0;
  overflow:visible;
  cursor:pointer;
  padding-top: 0.2em;
}

.buttonImg {
  width: 72%;

}